<!DOCTYPE html>
<html lang="en">
  <head><% include template/head.ejs %></head>

  <body class="<%= className %>" >
    <% include template/header.ejs %>
  <div class="container">
    <h1><%= pagetitle %><%= title %></h1>
    <p>Selfies cold-pressed tattooed, hella 90's letterpress PBR&B cliche post-ironic crucifix gluten-free drinking vinegar keytar godard. Green juice master cleanse you probably haven't heard of them, cronut bespoke synth mixtape viral heirloom etsy fashion axe kickstarter. Offal venmo humblebrag vegan. Beard shabby chic godard, farm-to-table deep v hashtag heirloom squid. Pinterest VHS synth literally blue bottle. Synth aesthetic ethical, migas meh brooklyn whatever humblebrag. Pop-up polaroid freegan kombucha fingerstache yr farm-to-table.</p>
    
    <!-- <% if(typeof(users) != 'undefined') { %>
      <ul>
        <% for(var i=0; i<users.length; i++) { %>
          <li><%= users[i] %></li>
        <% } %>
      </ul>
    <% } %> -->

  </div> <!--container -->

    <% include template/footer.ejs %>
    <% include template/jsdefaults.ejs %>
    
  </body>
</html>